importlib-resources==5.13.0
numpy==1.23.5
memote
cobra
pytest
matplotlib
seaborn
openpyxl
git+https://github.com/segrelab/GEM2CUE.git@remove-classes
git+https://github.com/segrelab/GEM-utilities.git@dev
git+https://github.com/Devlin-Moyer/macaw.git@main

